{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/body.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    {% block styles %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<header class="head-container">
    <nav class="nav-container">
        <div class="logo">
            <a href="{% url 'main:index' %}"><img id="nav-icon" src="{% static 'img/main/logo.png' %}" alt=""></a>
        </div>
        <div class="navigation">
            <div class="name">
                <h1>Карельский Урожай <span><sup class="trademark">®</sup></span></h1>
            </div>
            <div class="menu">
                <div class="nav-menu">
                    <a href="{% url 'main:index' %}"><h3>Главная</h3></a>
                    <a href="{% url 'main:products' %}"><h3>Продукты</h3></a>
                    <a href="{% url 'main:news' %}"><h3>Новости</h3></a>
                    <a href="{% url 'main:contacts' %}"><h3>Контакты</h3></a>
                </div>
                <div class="buy">
                    <a href="{% url 'main:buy' %}" id="buy"><h4>Купить</h4></a>
                </div>
            </div>
        </div>
    </nav>
</header>

<section class="mobile-burger-section">

    <!-- Блок с бургер-иконкой -->
    <div class="mobile-burger-block">
        <div class="burger" id="burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <!-- Мобильное меню -->
    <div class="mobile-menu" id="mobileMenu">
        <div class="mobile-menu-header">
            <button class="close-menu" id="closeMenu">✕</button>
        </div>

        <div class="mobile-menu-links">
            <a href="{% url 'main:index' %}"><h3>Главная</h3></a>
            <a href="{% url 'main:products' %}"><h3>Продукты</h3></a>
            <a href="{% url 'main:news' %}"><h3>Новости</h3></a>
            <a href="{% url 'main:contacts' %}"><h3>Контакты</h3></a>
            <a href="{% url 'main:buy' %}" class="mobile-buy-btn"><h4>Купить</h4></a>
        </div>
    </div>

</section>

{% block content %}{% endblock %}
{% block slider %}{% endblock %}
{% block products %}{% endblock %}
{% block news %}{% endblock %}

<footer class="foot-container">
    <p>2025 Карельский Урожай <span><sup class="trademark">®</sup></span></p>
</footer>

<script src="{% static 'js/slider.js' %}"></script>
<script src="{% static 'js/menu.js' %}"></script>

</body>
</html>
