{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<section class="product-detail">
    <div class="container">
        <h1>{{ product.name }}</h1>

        {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
        {% else %}
            <img src="{% static 'img/default-product.png' %}" alt="Нет изображения">
        {% endif %}

        <p>{{ product.description|linebreaksbr }}</p>

        <!-- Кнопка обратно -->
        <a href="{% url 'main:index' %}" class="btn">На главную</a>
    </div>
</section>
{% endblock %}