{% extends 'main/base.html' %}
{% load static %}

{% block styles %}
	<link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}
{% block title %}Продукты{% endblock %}


{% block products %}
<section class="products-container">
    <div class="products-title">
        <hr><h1>Все продукты</h1><hr>
    </div>
    <div class="products-filter-bar">
        <form action="{% url 'main:products' %}" method="get" class="filter-form">
            <div class="form-box">
                <!-- Фильтр по категориям -->
                <select name="category" onchange="this.form.submit()">
                    <option value="">Все категории</option>
                    {% for category in categories %}
                        <option value="{{ category.slug }}"
                                {% if current_category == category.slug %}selected{% endif %}>
                            {{ category.name }}
                        </option>
                    {% endfor %}
                </select>

                <!-- Чекбокс "Со скидкой" -->
                <label class="checkbox-label">
                    <input type="checkbox" name="discount" value="on"
                           {% if show_discount == 'on' %}checked{% endif %}>
                    Со скидкой
                </label>

                <!-- Чекбокс "В наличии" -->
                <label class="checkbox-label">
                    <input type="checkbox" name="available" value="on"
                           {% if show_available == 'on' %}checked{% endif %}>
                    В наличии
                </label>
            </div>

            <div class="form-btn">
                <!-- Кнопка сброса -->
                <button type="submit" class="btn">Применить</button>
                <a href="{% url 'main:products' %}" class="btn">Сбросить</a>
            </div>


        </form>
    </div>
    <div class="products">
        <div class="products-menu">
            {% if products %}
                {% for product in products %}
                <div class="product">
                    <a href="{{ product.get_absolute_url }}">
                        {% if product.image %}
                            <img src="{{ product.image.url }}" alt="{{ product.name }}">
                        {% else %}
                            <img src="{% static 'img/products/default-product.png' %}" alt="Нет изображения">
                        {% endif %}
                    </a>
                        <!-- Блок с ценами / статусом -->
                    <div class="price-block">
                        {% if product.available %}
                            {% if product.discount > 0 %}
                                <!-- Есть скидка -->
                                <span class="old-price">{{ product.price|floatformat:"0" }}₽</span>
                                <span class="sell-price">{{ product.sell_price|floatformat:"0" }}₽</span>
                            {% else %}
                                <!-- Нет скидки -->
                                <span class="sell-price">{{ product.price|floatformat:"0" }}₽</span>
                            {% endif %}
                        {% else %}
                            <!-- Нет в наличии -->
                            <span class="unavailable">Нет в наличии</span>
                        {% endif %}
                    </div>

                    <!-- Кнопка "Подробнее" -->
                    <a href="{{ product.get_absolute_url }}" class="btn">Подробнее</a>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}