{% extends 'main/base.html' %}
{% load static %}

{% block styles %}
	<link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}


{% block products %}
    <section class="products-container">
        <div class="products-title">
            <hr><h1>Наши продукты</h1><hr>
        </div>
        <div class="products">
            <div class="products-menu">
                <div class="product">
                    <a href=""><img src="{% static 'img/products/Аккураевый мёд.png' %}" alt=""></a>
                </div>
                <div class="product">
                    <a href=""><img src="{% static 'img/products/Брусника.png' %}" alt=""></a>
                </div>
                <div class="product">
                    <a href=""><img src="{% static 'img/products/Жимолость.png' %}" alt=""></a>
                </div>
                <div class="product">
                    <a href=""><img src="{% static 'img/products/Костомукшский сбор.png' %}" alt=""></a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}