@font-face{
font-family: "Snell Roundhand";
src: url( "../fonts/Snell Roundhand.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}

body{
    font-family: "Georgia", sans-serif;
    margin: 0;
    color: #1d1d1d;
    min-width: 320px;
}

hr{
    width: 70%;
}

h1{
    white-space: nowrap;
    margin: 0;
}

h2,p,ul{
    margin: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.old-price{
    color: gray;
    text-decoration: line-through;
    font-weight: bold;
    font-size: 1vmax;
}

.sell-price{
    color: #8e3c0f;
    font-weight: bold;
    font-size: 1.5vmax;
}

.unavailable{
    color: gray;
    font-weight: bold;
    font-size: 1.5vmax;
}

.btn{
    display: flex;
    padding: 1vmax 2vmax;
    text-align: center;
    font-size: 1vmax;
    color: #fff;
    background-color: #8e3c0f;
    text-decoration: none;
    border-radius: 40px; /* Закругленные углы */
    transition: transform 0.3s ease;
}

.btn:hover {
    transform: scale(1.05); /* При наведении изображение увеличивается */
}

.trademark{
    font-family: sans-serif;
    font-size: 0.9vmax;
}

@media (max-width: 767px) {
    .btn{
        font-size: 1.2vmax;
    }

    .old-price{
        font-size: 1.2vmax;
    }

    .sell-price{
        font-size: 2vmax;
    }

    .unavailable{
        font-size: 1.2vmax;
    }
}
