@font-face{
font-family: "Theano Didot";
src: url("../fonts/Theano Didot.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}

@font-face{
font-family: "Snell Roundhand";
src: url( "../fonts/Snell Roundhand.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}

body{
    font-family: "Georgia", sans-serif;
    margin: 0;
    color: #1d1d1d;
}

hr{
    width: 70%;
}

h1{
    white-space: nowrap;
    margin: 0;
}

.btn{
    display: flex;
    padding: 1vmax 2vmax;
    text-align: center;
    font-size: 1vmax;
    color: #fff;
    background-color: #8e3c0f;
    text-decoration: none;
    border-radius: 40px; /* Закругленные углы */
    transition: transform 0.3s ease;
}

.btn:hover {
    transform: scale(1.05); /* При наведении изображение увеличивается */
}