.buy-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

.buy-title{
    display: flex;
    justify-content: center;
    font-family: "Snell Roundhand", sans-serif;
    gap: 5%;
    width: 100%;
    align-items: center;
    margin: 2vmax 0;
    font-size: 1.5vmax;
}

.buy-container {
    width: 100%;
    border-radius: 20px;
}

.buy-content {
    display: flex;
    justify-content: center;
}

.buy-options-grid {
    display: flex;
    gap: 2vmax;
}

/* Карточка опции */
.buy-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2vmax;
    text-align: center;
    border-radius: 15px;
    padding: 3vmax;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.buy-option img:hover {
    transform: scale(1.05);
}

/* Иконка мессенджера */
.option-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.option-icon-wrapper img {
    width: 8vmax;
    height: auto;
}

/* Текст карточки */
.buy-option h2 {
    font-size: 1.7vmax;
}

.buy-option p {
    font-size: 1.1vmax;
    color: #666665;
}

/* Кнопки */
.telegram-btn {
    background: linear-gradient(135deg, #0088cc 0%, #005f8f 100%);
    color: white;
}

.telegram-btn:hover {
    transform: scale(1.05);
}

.max-btn {
    background: linear-gradient(135deg, black 0%, black 100%);
    color: white;
}

.max-btn:hover {
    transform: scale(1.05);
}

/* Инструкции */
.buy-instructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vmax;
    margin: 4vmax 0;
}

.buy-instructions h2 {
    font-size: 1.5vmax;
}

.buy-instructions li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    font-size: 1.3vmax;
    color: #666665;
}

.buy-instructions li::before {
    content: "✓";
    padding-top: 0.5vmax;
    color: #27ae60;
    font-weight: bold;
    margin-right: 1vmax;
    font-size: 1.5vmax;
}

.note {
    font-style: italic;
    color: #8e3c0f;
    font-weight: bold;
    text-align: center;
    font-size: 1.3vmax;
}

.no-messengers {
    text-align: center;
    padding: 3vmax 5vmax;
    color: #999;
    font-size: 2vmax;
}

@media (max-width: 768px) {

    .buy-options-grid{
        flex-direction: column;
        width: 100%;
    }

    ul{
        padding: 0;
    }
}