.head-container{
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 95%, #fff), url('../img/header.png');
    background-size: cover;
    margin: 0 auto;
}

.nav-container{
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    gap: 3vmax;
    padding: 2vmax 0;
    max-width: 100%;
}

#nav-icon{
    width: 10vmax;
    height: auto;
}

.navigation{
    display: flex;
    flex-direction: column;
    gap: 1vmax;
}

.name h1{
    font-family: "Snell Roundhand", sans-serif;
    font-size: 3vmax;
    text-shadow:
    0 0 10px #fff,   /* Легкое свечение */
    0 0 20px #fff,   /* Увеличенное свечение */
    0 0 30px #fff,   /* Еще большее свечение */
    0 0 40px #fff,   /* И еще большее свечение */
    0 0 50px #fff;   /* Самое сильное свечение */
}

.menu{
    display: flex;
    align-items: center;
    gap: 2vmax;
}

.nav-menu{
    display: flex;
    justify-content: center;
    font-size: 1vw;
    gap: 2vw;
    background-image: url("../img/menu.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1vw 4vw;
}

.nav-menu a{
    text-decoration: none; /* Убираем подчеркивание */
    color: #421402;
}

.nav-menu a:hover{
    text-decoration: underline; /* Возвращаем подчеркивание */
    text-decoration-thickness: 1px;
}

#buy{
    display: flex;
    padding: 1vw 3.5vw;
    text-align: center;
    font-size: 1.1vw;
    color: #fbe8bd;
    text-decoration: none;
    background-image: url('../img/buy2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.3s ease;
}

#buy:hover {
    transform: scale(1.05); /* При наведении изображение увеличивается */
}


/* МЕДИА */
