.news-section {
    width: 70%;
    margin: 0 auto;
}

.news-detail{
    display: flex;
    flex-direction: column;
    margin: 2vmax 0;
    gap: 1vmax;
}

.news-content{
    display: flex;
    flex-direction: column;
    gap: 2vmax;
    padding: 2vmax;
    font-size: 1.1vmax;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 15px;
}

.news-media {
    display: flex;
    justify-content: center;
}

.news-media img,
.news-media video {
    max-width: 100%;
    width: auto;
    height: 30vmax;
    object-fit: contain;
    border-radius: 20px;
    display: block;
}

.news-name{
    text-align: center;
}

@media (max-width: 1024px) {
    .news-section {
        width: 80%;
    }

    .news-detail{
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        border-radius: 15px;
        overflow: hidden;
    }

    .news-content{
        font-size: 1.4vmax;
        box-shadow: none;
    }

    .news-media img,
    .news-media video {
        object-fit: cover;
        box-shadow: none;
        border-radius: 0;
    }
}
