.products-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.products-title{
    display: flex;
    justify-content: center;
    font-family: "Snell Roundhand", sans-serif;
    gap: 5%;
    align-items: center;
    width: 70%;
    margin: 2% 0;
    font-size: 1.5vmax;
}

.filter-form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vmax;
    flex-wrap: wrap;
    font-size: 1.2vmax;
}

.filter-form select {
    padding: 1vmax 1vmax;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1.2vmax;
    cursor: pointer;
}

.filter-form select:focus {
    outline: none;
    border-color: #8e3c0f;
}

.form-box{
    display: flex;
    align-items: center;
    gap: 2vmax;
}

.form-btn{
    display: flex;
    gap: 1.5vmax;
}

.checkbox-label input[type="checkbox"] {
    transform: scale(2); /* Увеличивает размер чекбокса в 1.5 раза */
}

.products{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vmax;
    background:
  linear-gradient(to top, rgba(255, 255, 255, 0) 95%, #fff),
  linear-gradient(to bottom, rgba(255, 255, 255, 0) 95%, #fff);
}

.products-menu{
    display: flex;
    flex-wrap: wrap; /* Для перехода на два ряда */
    width: 70%;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding-top: 3vmax;
    margin-bottom: 2vmax;
    border-radius: 15px;
}

.note-price{
    margin: 0 1vmax 1vmax 2vmax;
    text-align: center;
    font-size: 1.3vmax;
    color: gray;
    font-weight: bold;
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vmax;
    width: 25%;
    margin: 1vmax;
    margin-bottom: 5vmax;
}

.product img{
    width: 100%;
    height: auto;
    object-fit: cover; /* Обеспечиваем сохранение пропорций */
    transition: transform 0.3s ease; /* Добавляем плавное изменение при наведении */
}

.product img:hover {
    transform: scale(1.05); /* При наведении изображение увеличивается */
}

.unavailable-text{
    color: gray;
}

.btn{
    font-size: 1vmax;
}

/* МЕДИА */


@media (max-width: 768px) {
    .products-title{
        font-size: 1.7vmax;
    }

    .products-menu{
        width: 80%;
    }

    .product {
        width: 40%; /* Для двух изображений в ряду на маленьких экранах */
    }

    .checkbox-label input[type="checkbox"] {
        transform: scale(1); /* Увеличивает размер чекбокса в 1.5 раза */
    }

    .btn{
        font-size: 1.2vmax;
    }

}